extends ../layout.jade

block body
  if webcasts
    h2 List of Coming Webcasts
    ul
      each webcast in webcasts
        li
          strong= webcast.title
          br
          = webcast.venue
  else
    p No webcast created yet

  pre webcasts = {{ webcasts | json }}
