extends ../layout.jade
block body
  h1=  title
  ul
    each channel in channels
      li
        strong= channel.name
        a(href="/channel/detail/" + channel.id)
          |  Detail
        |  |&nbsp;
        a(href="/channel/update/" + channel.id)
          |  Edit
