extends ../layout.jade

block body
  if user
    h1= userDetail.name
    p Contact: #{userDetail.email}

    h3 Lead #{userDetail.role} for:

    if userDetail.Webcasts
      each webcast in userDetail.Webcasts
        li
          a(href="/webcast/detail/" + webcast.id)
            = webcast.title
            |  →

    if devscasts
      ul
      each webcast in devscasts
        li
          a(href="/webcast/detail/" + webcast.id)
            = webcast.title
            |  →

  else
    h2 Please register or log in.
