extends ../layout.jade

block body
  if user
    h1= user.username

    pre= user.email
    pre= user.Webcasts
    pre {{ user | json }}
    each webcast in user.Webcasts
      li= webcast.title
    //- li(ng-repeat="Webcast in user.Webcasts") Webcast.name
  else
    h2 Please register or log in.
