extends ../layout.jade
block body
  h1=  title
  ul
    each user in users
      li
        strong= user.name
        | , #{user.role}
        br
        a(href="/users/detail/" + user.id)
          |  Detail
        |  |&nbsp;
        a(href="/users/update/" + user.id)
          |  Edit
