extends ../layout.jade

block body

  h1 Create New User

  div
    form(method="POST" action="/users/register" name="registration" novalidate)
      .form-group
        label(for="name") Name
        input.form-control(type="text" name="name" ng-model="user.name" required)
      .form-group(ng-class="{ 'has-error': registeration.username.$dirty && registration.username.$invalid }")
        label(for="username") Username
        input.form-control(type="text" name="username" ng-model="user.username" required unique-username)
        p(ng-show="registration.username.$error.uniqueUsername") Username must be unique.
      .form-group
        p:strong Role
        .radio
          label(for="Producer")
            input(type='radio', id="Producer", name="role", value="Producer", ng-model="user.role")
            | Producer
        .radio
          label(for="Developer")
            input(type='radio', id="Developer", name="role", value="Developer", ng-model="user.role")
            | Developer
      .form-group(ng-class="{ 'has-error': registration.email.$dirty && registration.email.$invalid }")
        label(for="email") Email Address
        input.form-control(type="email" name="email" ng-model="user.email" required)
        div(ng-show="registration.email.$error.email")
          p Must be an email address.
      .form-group(ng-class="{ 'has-error': registration.password.$dirty && registration.password.$invalid }")
        label(for="password") Password
        input.form-control(type="password" name="password" ng-model="user.password" required)
        label(for="password_confirm") Confirm Password
        input.form-control(type="password" name="password_confirm" ng-model="user.password_confirm" registration-password-match="password")
      hr
      button.btn.btn-default(type="submit" ng-disabled="registration.$invalid") Register!

    pre user = {{ user | json }}
    pre registration = {{ registration | json }}
