extends ../layout.jade
block body
  include ../_includes/prettyDate.jade
  h1=  title
    a(href="/webcast/new", class="btn btn-primary pull-right")
      | Add Webcast
  h3 Scheduled Webcasts

  ul
    each webcast in webcasts
      li
        strong= webcast.title
        br
        | #{prettyDate(webcast.webcastDate)}
        br
        a(href="/webcast/detail/" + webcast.id)
          | Details
        |  |&nbsp;
        a(href="/webcast/update/" + webcast.id)
          | Update

  h3 Past Webcasts
  ul
    each pastWebcast in pastWebcasts
      li
        strong= pastWebcast.title
        br
        | #{prettyDate(pastWebcast.webcastDate)}
        br
        a(href="/webcast/detail/" + pastWebcast.id)
          | Details
        |  |&nbsp;
        a(href="/webcast/update/" + pastWebcast.id)
          | Update
